<div>
  {{newcomponentt}}
  </div>
<div>
  <p>Username:--
  <input type="text" id="user" name="Username" placeholder="Enter Username">
  </p>
  <p>Password:--
  <input type="password" id="pass" name="Password" placeholder="Enter Password">
  </p>
  <button type="Submit" name="submit" onclick="load()">Login</button>
</div>
<script>
  function load(){
    var element = document.getElementById("user").value;
    var elementt= document.getElementById("pass").value;
    alert(element);
    alert(elementt);
  }
  </script>
